{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions"]
        },
        "debug": true
      }
    ],
    "babel-preset-react"
  ],
  "plugins": [
    "transform-runtime",
    "react-hot-loader/babel",
    "syntax-dynamic-import",
    "universal-import",
    ["emotion", { "sourceMap": true, "autoLabel": true } ]
  ]
}