{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions", "ie >= 10"]
        },
        "debug": true
      }
    ],
    "babel-preset-react"
  ],
  "plugins": [
    "syntax-dynamic-import",
    "universal-import",
    "transform-object-rest-spread",
    ["emotion", { "sourceMap": true, "autoLabel": true } ]
  ],
  "env": {
    "development": {
      "plugins": ["react-hot-loader/babel"]
    }
  }
}